.container {
  position: relative;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
}

.menuButton {
  background-color: transparent;
  text-align: center;
}

.menuIcon svg {
  width: 14px;
  height: 14px;
}

.drawer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 60;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: white;
  transition: all 0.3s ease;
}

.drawerHidden {
  composes: drawer;
  visibility: hidden;
  transform: translateX(-100%);
  opacity: 0;
}

.drawerVisible {
  composes: drawer;
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}

.header {
  position: relative;
  padding: 1rem;
  padding-bottom: 5rem;
}

.headerContent {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.headerContent button {
  background-color: transparent;
}

.logo {
  display: block;
  height: 2.25rem;
  width: 7rem;
}

.logoImage {
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: contain;
}

.divider {
  margin-top: 0.5rem;
  height: 1px;
  background-color: #fed2ca;
}

.content {
  margin-top: 0.75rem;
  display: flex;
  gap: 0.75rem;
}

.menuList {
  width: fit-content;
}

.menuItem {
  display: flex;
  height: 48px;
  width: 88px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 4px;
  font-weight: 500;
  color: #4f4f4f;
  text-decoration: none;
  transition: colors 0.3s;
}

.menuItemActive {
  composes: menuItem;
  background-color: #fef4f2;
  color: var(--primary-color);
}

.menuName {
  text-wrap: nowrap;
  font-size: 0.75rem;
  transition: colors 0.3s;
}

.menuNameNIPA {
  composes: menuName;
  font-weight: bold;
}

.subMenuContainer {
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.subMenuItem {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5rem;
  border-radius: 4px;
  padding: 0.75rem 0.5rem;
  color: #5d5d5d;
  text-decoration: none;
  transition: transform 0.3s;
}
.subMenuItem svg {
  width: 10px;
  height: 10px;
}

.subMenuItemActive {
  composes: subMenuItem;
  background-color: #fef4f2;
  color: var(--primary-color);
}

.subMenuText {
  font-size: 0.875rem;
  font-weight: 500;
}

.jobsContainer {
  margin-bottom: 0.25rem;
}

.jobButton {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  padding-right: 0.75rem;
  color: #5d5d5d;
  background-color: transparent;
  transition: transform 0.3s;
}

.jobButtonActive {
  composes: jobButton;
  background-color: #fef4f2;
  color: var(--primary-color);
}

.jobButtonContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
}

.jobButtonArrow {
  transition: transform 0.3s;
}

.jobButtonArrowExpanded {
  composes: jobButtonArrow;
  transform: rotate(180deg);
}

.jobOptionsContainer {
  overflow: hidden;
  padding-left: 0.75rem;
  transition: all 0.3s;
}

.jobOptionsExpanded {
  composes: jobOptionsContainer;
  max-height: 500px;
  opacity: 1;
}

.jobOptionsCollapsed {
  composes: jobOptionsContainer;
  max-height: 0;
  opacity: 0;
}

.jobOptionsList {
  margin-top: 0.25rem;
  display: flex;
  height: fit-content;
  flex-wrap: wrap;
  gap: 0.25rem;
  border-left: 1px solid #fed2ca;
  padding: 0.25rem 0.5rem;
}

.jobOption {
  height: 18px;
  border-radius: 9999px;
  padding: 0 1rem;
  font-size: 10px;
  line-height: 14px;
  transition: colors 0.3s;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.jobOptionActive {
  composes: jobOption;
  background-color: #fee6e2;
  color: var(--primary-color);
}

.jobOptionInactive {
  composes: jobOption;
  background-color: #f6f6f6;
  color: #4f4f4f;
}

.footer {
  position: fixed;
  bottom: 1rem;
  padding: 0 1rem;
  width: 100%;
}

.footerContent {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  border-top: 1px solid #fed2ca;
  padding-top: 1rem;
  padding-left: 0.5rem;
  width: 100%;
}
.footerButtons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  justify-content: space-between;
  padding-bottom: 20px;
}
.cancelButton {
  background-color: #e7e7e7;
  border-radius: 56px;
  width: 88px;
  height: 24px;
  color: #404040;
  font-size: 14px;
}
.selectButton {
  composes: cancelButton;
  background-color: #dd3f24;
  color: white;
}
.clearButton {
  color: #dd3f24;
  background-color: transparent;
  font-size: 10px;
}
.groupButton {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-right: 30px;
}
