.container {
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
}
.container button {
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.divider {
  width: 1px;
  height: 1rem;
  background-color: #e5e7eb;
}

.button {
  padding: 0 0.5rem;
  text-transform: uppercase;
  transition: all 0.3s;
  color: #9ca3af;
}

.buttonActive {
  composes: button;
  font-weight: 700;
  color: var(--primary-color);
}
